/* font-size */
$font-size-base: 1rem; // 16px

/* spacing base */
$spacing: 8px;

/* color */
$primary: #650300;
$secondary: #AA06010D;
$danger: #AA0601;
$dark: #000000;
$white: #FFFFFF;
$muted: #707070;
